<p>Esta lista es del componente hijo que esta dentro del padrre</p>
<p>y se comunicaron con las directivas de componente @input()</p>
<p>El forms si esta dentro del padre</p>
<div class="container2">
  <ul>
    <!--Se envia a otro componente el items, alla se resive con  @Input-->
    <Hijo *ngFor="let item of Empleados" [items]="item" id="Hijo"></Hijo>
  </ul>
  <form action="#">
    <div class="inputs">
      <input
        type="text"
        name="nombre"
        placeholder="Nombre"
        [(ngModel)]="nombre"
      />
      <input
        type="text"
        name="apellido"
        placeholder="Apellido"
        [(ngModel)]="apellido"
      />
      <input type="text" name="cargo" placeholder="Cargo" [(ngModel)]="cargo" />
      <input
        type="number"
        name="sueldo"
        placeholder="Sueldo"
        [(ngModel)]="sueldo"
      />
    </div>
    <input
      type="submit"
      name="agregar"
      id="input"
      value=" Agregar"
      (click)="agregaEmpleado()"
    />
    <p *ngIf="numEmpleados > 9; else elElse">Numero de empleados al maximo</p>
    <ng-template #elElse>Cupos Disponibles</ng-template>
  </form>
</div>
